{% extends 'master.html' %}

{% block content %}

    <h3 class='dSectionTitle'>{{ pageTitle }}</h3>
    <fieldset class='dFileSet'>
        <!--legend class='dLegendTitle'>Links ({{ inventory }} records)</legend-->
        <div class="container">
            <div class='row justify-content-between'>
                <!-- Company Site Informmation Display Box -->
                <div class='col-sm-5'>
                    <fieldset id='recSites'>
                        <legend id='legLine' class='liHeaderAlt'>
                            <a class='newRec' 
                                onClick='showItem("captForm"); 
                                    hideItem("companyInfo"); 
                                    hideItem("captComm")'>
                                        &#x2795; Add a Site
                            </a>Recorded Sites
                        </legend>
                        <ul id='id_recSites' class='ulStyle'>
                            {% if recnum == 0 %}
                                <li>
                                    <input type='button' 
                                        class='liButton' 
                                        onclick="location.href='{% url 'about' %}'" 
                                        value='No records. Click on the Plus-Add Button Above to Insert.'
                                    />
                                </li>
                            {% else %}
                                {% for sitelink in sitelinks %}
                                    <li class='liStyle' 
                                        onclick='showCompany("{{sitelink.id}}", "{{sitelink.companyName}}", "{{sitelink.companyLink}}", "{{sitelink.companyPhone}}", "{{sitelink.companyAddress}}", {{ siteInfo }}, {{ siteComms }}, {{ commtrs }} ); hideItem("captForm"); hideItem("captComm");'><a href='#{{sitelink.id}}' class='aStyle'>{{ sitelink.companyName }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </fieldset>
                </div>                
                <div class='col-sm-7' >
                    <div id='companyInfo' class='companyInfo'>
                        <!-- Company Site Informmation Display Box -->
                        <div>
                            <a class='closeItem' onClick='hideItem("companyInfo"); hideItem("captComm");'>X-Close</a>
                            <p id='cName' class='companyName'>Company Name</p>
                        </div>
                        <div>
                            <p class='companySymbol'>W</p>
                            <a id='cSite' class='companyData' target="_blank" rel="noopener noreferrer">Web Site</a>
                        </div>
                        <div>
                            <a class='companySymbol'>&#x260E;</a>
                            <p id='cPhone' class='companyData'>Phone Number</p>
                        </div>
                        <div>
                            <a class='companySymbol'>&#x1F3E0;</a>
                            <p id='cAddress' class='companyData'>Address</p>
                        </div>
                        <div>
                            <a class='companySymbol'>&#x272D;</a>
                            <p id='cRating' class='companyData'>Rating</p>
                        </div>
                        <div>
                            <a class='companySymbol'>&#x2712;</a>
                            <p id='cComments' class='companyData'>
                                <!--a class='newRec' 
                                    onClick='showItem("captComm"); 
                                        hideItem("captForm"); '>
                                        &#x2795; Add a Comment
                                </a-->Comments
                            </p>
                        </div>
                    <div id='commDiv' class='commDivClass'></div>
                    </div>
                    <form id="captForm" method='POST' class='formClass'>
                        <!-- Capture New Company Site Form -->
                        <fieldset>
                            <legend  class='legClass'>New Company Site</legend>
                                {% csrf_token %}
                                {{ candleForm.as_table }}
                                {{ commForm.as_table }}
                            <input type='submit' class='submitClass' onClick='showItem("recSites")' value='Save'/>
                        </fieldset>
                    </form>
                    <form id="captComm" method='POST' class='formClass'>
                        <fieldset>
                            <legend  class='legClass'>New Site Comment</legend>
                            {% csrf_token %}
                            <!-- Capture New Company Site Form -->
                            <br/>
                            {% if form.errors %}
                            <p class="regPErrorClass">Invalid Information!</p>
                            {% endif %}
                            {{ commForm.as_table }}
                            <input type='submit' class='submitClass' value='Save Comm'/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}