{% extends 'master.html' %}

{% block content %}
    <h3 class='dSectionTitle'>{{ pageTitle }}</h3>
    <div class='aboutDiv'>
        <p class='aboutParagraphTitle'>Candle Store Sites</p>
        <p class='aboutParagraph'>Candle Store Sites is a page where you can find or add to a list of candle supplier store/links, write your comment or opinion and set a rate based on your experience.</p>
        <p class='aboutParagraph'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea hic quidem cumque numquam molestiae quis unde consequuntur fuga praesentium esse asperiores repellendus molestias corrupti repudiandae, itaque incidunt? Beatae, non eius.</p>
        <p class='aboutParagraph'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea hic quidem cumque numquam molestiae quis unde consequuntur fuga praesentium esse asperiores repellendus molestias corrupti repudiandae, itaque incidunt? Beatae, non eius.</p>
        <p class='aboutParagraph'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea hic quidem cumque numquam molestiae quis unde consequuntur fuga praesentium esse asperiores repellendus molestias corrupti repudiandae, itaque incidunt? Beatae, non eius.</p>
        <p class='aboutParagraph'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea hic quidem cumque numquam molestiae quis unde consequuntur fuga praesentium esse asperiores repellendus molestias corrupti repudiandae, itaque incidunt? Beatae, non eius.</p>
    </div>

{% endblock %}